[submodule "assignments/altSchool-tinyuka-2024--html-assignments"]
	path = assignments/altSchool-tinyuka-2024--html-assignments
	url = https://github.com/AJ1732/altSchool-tinyuka-2024--html-assignments.git
